*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    background-color: #f6fcfe;
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
}
nav{
    background-color: #2a2241;
    color: white;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #ff7d42;

}
.fa-bars{
    color: white;
}
.fa-bars:hover{
    color: #ff7d42;
}
.myform {
    min-width:300px;
    max-width:400px;
    padding:20px;
    margin:0 auto;
    background:#ffffff;
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    border-radius: 10px;
  }
  .myform input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
 .myform button{
      background-color:    #ff7d42;

      width: 100%;
      color: white;
      padding: 13px;
      border-radius:8px;
      font-size:13px;
      border: 0;
  }

.comments{
    /* background-color: #f8b2ed4a; */
    background-color: white;

    padding: 10px;
    border-radius: 15px;
}
.comments h6{
    font-size: 2rem;
    color: #ff7d42;
    font-family: 'Dosis', sans-serif;
}
.comments p{
    font-size:14px;
}
.error{
    padding: 8px;
    background-color: #ff5757;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 14px;
}
.like.event{
    color: #07bc51;
}
.hate.event{
    color: #ff6f6f;
}
