*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    background-color: #f1f2f5;
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
}

@media(max-width:797px){
    .collapse .navbar-nav .nav-item .categories{
        width: 95%;
    }

    .custom__image-container label {
        width: 100%;
        height: 257px;
    }

}
@media(min-width:798px){
    .collapse .navbar-nav .nav-item .categories{
        width: 400%;
    }
    .custom__image-container label {
        width: 88%;
        height: 148px;
    }
}

@media(min-width:991px){
    .collapse .navbar-nav .nav-item .categories{
        width: 23rem;

    }
    .categories li a{
        font-size: 18px;
    }

    .custom__image-container label {
          width: 200px;
          height: 200px;
    }

}
nav{
    background-color: #2a2241;
    color: white;
}
.collapse .navbar-nav .nav-item .categories{
    padding: 8px;

}
.collapse .navbar-nav .nav-item .categories li a{
    background-color: #2a2241;
    color: white;
    text-decoration: none;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #ff7d42;

}
.fa-bars{
    color: white;
}
.fa-bars:hover{
    color: #ff7d42;
}
.myform {
    font-family: 'Open Sans', sans-serif;

    min-width:300px;
    max-width:400px;
    padding:20px;
    margin:0 auto;
    background:#ffffff;
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    border-radius: 10px;
  }
  .myform input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
 .myform button{
      background-color:    #ff7d42;

      width: 100%;
      color: white;
      padding: 13px;
      border-radius:8px;
      font-size:13px;
      border: 0;
  }

.comments{
    /* background-color: #f8b2ed4a; */
    background-color: white;

    padding: 10px;
    border-radius: 15px;
}
.comments h6{
    font-size: 2rem;
    color: #ff7d42;
    font-family: 'Dosis', sans-serif;
}
.comments p{
    font-size:14px;
}
.error{
    padding: 8px;
    background-color: #ff5757;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 14px;
}
.like.event{
    color: #07bc51;
}
.hate.event{
    color: #ff6f6f;
}
.submit{
    width: 100%;
    background-color: #ff7d42;
    padding: 4px;
    border: none;
    color: white;
    font-size: 15px;
}


.custom__image-container label {
    background-image: url("https://w7.pngwing.com/pngs/529/816/png-transparent-computer-icons-user-profile-avatar-heroes-monochrome-black-thumbnail.png");
        background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100%;
      cursor: pointer;
      border: solid 1px black;
      border-radius: 5px;
      background-size: cover;
      position: relative;
    }

    .custom__image-container img {
    background-image: url("https://w7.pngwing.com/pngs/529/816/png-transparent-computer-icons-user-profile-avatar-heroes-monochrome-black-thumbnail.png");

      border: solid 1px black;
      border-radius: 5px;
      object-fit: cover;
      background-size: cover;
    }


    .google{
        font-size: 1.5rem;
        background-color: #d30505bf;
        padding: 1rem;
        text-align: center;
        font-weight: 700;
        color: white;
    }
    .facebook{
        font-size: 1.5rem;
        background-color: #0793f3;
        padding: 1rem;
        text-align: center;
        font-weight: 700;
        color: white;
        margin: 10px 0;
    }
